body .blure {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
}

.blure {
    background: rgba(41, 41, 41, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.burger {
    position: absolute;
    width: 320px;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #292929;
    justify-content: right;
    animation: right 1s ease
}

@keyframes revers {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes right {
    0% {
        right: -320px;
    }

    100% {
        right: 0;
    }
}

.revers-menu {
    transform: rotate(90deg);
    margin-top: 45px;
    margin-left: 275px;
    margin-right: 25px;
    margin-bottom: 173px;
    animation: revers 1s 0.5s ease;
}

.burger-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.burger-links li {
    margin: 0;
    margin-bottom: 40px;
    font-size: 32px;
}

.current-page a {
    color: #FAFAFA;
}

.interactiv-link a {
    color: #CDCDCD
}

.revers-menu .line {
    border: 1.5px solid #F1CDB3;
}